@media (max-width: 1130px) {
  .container {
    /* background-color: #31b02370; */
    max-width: 699px;
    padding-inline: 5px;
  }
  body {
    text-align: center;
  }
  header section {
    padding-block-start: 65px;
  }
  header img {
    margin-block-end: 38px;
  }
  header h1 {
    margin-inline: auto;
    margin-block-end: 20px;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.6px;
    color: #fff;
    max-width: 395px;
  }

  header p {
    margin-inline: auto;
    margin-block-end: 52px;
    max-width: 573px;
  }
  .enjoy {
    padding-block-start: 300px;
    position: relative;
    margin-block-end: 0;
  }
  .enjoy::before {
    content: url(/images/patterns/pattern-curve-top-right.svg);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-75%);
  }
  .local::before {
    content: url(/images/patterns/pattern-curve-top-left.svg);
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translateX(-40%); */
  }
  .enjoy .section_info {
    margin-inline: auto;
  }
  .section_info img {
    margin-block-end: 39px;
  }
  .enjoy .main_decor_img {
    top: 0;
    left: 50%;
    transform: translateY(-25%) translateX(-50%);
    box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
  }

  .main_decor_img {
    background-image: url(/images/homepage/enjoyable-place-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute;
    width: 573px;
    height: 360px;
  }

  .main_decor_img img {
    display: none;
  }

  .bg_flow_top {
    background-image: none;
  }
  .bg_flow_bottom {
    background-image: none;
  }

  .local {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 56px;
    padding-block: 0 118px;
  }

  .local .main_decor_img {
    background-image: url(/images/homepage/locally-sourced-tablet.jpg);
    position: relative;
    bottom: auto;
    right: auto;
    left: 0;
    top: 0;
    transform: translateY(0);
    box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
  }
  .local .main_decor_img img:nth-child(2) {
    display: block;
  }
  .local .main_decor_img .lines {
    position: absolute;
    top: 75%;
    right: 0;
    transform: translateY(-50%) translateX(33%); /* Піднімаємо вгору картинку з лініями на свою ж висоту*/
  }
  .menu {
    padding-bottom: 96px;
  }
  .menu .container.flx {
    background-color: #d4d6db71;
    flex-direction: column;
    align-items: center;
  }

  .menu_items {
    text-align: left;
    max-width: 583px;
    /* width: 100%; */
  }

  .menu article.flx {
    max-width: 583px;
  }

  .menu article.flx div {
    flex-grow: 1;
    max-width: inherit;
  }
}
